html{
    background-color: #112031;
    font-family: monospace;
    padding:50px 100px;
    color: white;
}

header{
    
    color: #82DBD8;
    text-align: left;
    
    font-size: large;
}

.topbar{
    background-color: #2F8F9D;
    text-align: center;
    padding: 25px;
    position: sticky;
    top: 20px;
    z-index: 10;
    height: 50%;
}

.top-menu{
    padding: 50px;
}

h1{
    font-size: 40px;
    color: white;
}

#PasuThumb{
    width: 80%;
    height: 80%;
    border: 20px solid white;
}

.Piccap{
    padding: 0px 100px;
}

.information h2 {
    font-weight: 60%;
    font-size: 25px;
}

.in-information{
    padding: 0px 40px;
}

.mock{
    height: 300px;
}
