html{
    background-color: #112031;
    font-family: monospace;
    padding:50px 50px;
    color: white;
}

header{ 
    color: #82DBD8;
    text-align: left; 
    font-size: large;
}

.topbar{
    background-color: #2F8F9D;
    text-align: center;
    position: sticky;
    z-index: 10;
    height: 100px;
    vertical-align: center;
    padding: 10px;
    top: 10px;
}

.top-menu{
    display: inline-block;
    text-align: center;
    margin: 20px 50px;
    
}

.top-menu:hover{
    background-color: #1c5f69;
    cursor: pointer;
}



h1{
    font-size: 40px;
    color: white;
}

#PasuThumb{
    width: 80%;
    height: 80%;
    border: 20px solid white;
}

.Piccap{
    padding: 0px 100px;
}

.information h2 {
    font-weight: 60%;
    font-size: 25px;
}

.in-information{
    padding: 0px 40px;
}

.mock{
    height: 300px;
}
